.h-main {
    height: calc(100vh - 10rem);
}

.row {
    @apply -mx-2 flex flex-wrap;
    [class^='col'] {
        @apply px-2;
    }

    &.row-margin {
        [class^='col'] {
            @apply my-2;
        }
    }
}

.card {
    @apply bg-white rounded-lg shadow;
}

.list-arrow {
    li {
        @apply flex justify-between items-center px-2 mb-2;

        button {
            @apply outline-none text-gray-500;

            &:focus {
                @apply outline-none;
            }

            &:hover {
                @apply text-blue-500;
            }
        }

        &.working {
            button {
                @apply text-gray-700;
            }
        }

        &.active {
            button {
                @apply text-blue-700 font-bold;
            }
        }
    }
}

.input {
    @apply shadow w-full rounded bg-white border pl-3 pr-8 w-full h-10 text-sm text-gray-700 outline-none appearance-none;

    &:focus {
        @apply border-blue-500;
    }

    &::placeholder {
        @apply opacity-25 text-xs;
    }

    &.textarea {
        @apply h-32 pt-2;
    }

    &.input-sm {
        @apply h-8;
    }
}

.bg-select {
    background-repeat: no-repeat;
    background-size: 10px 6px;
    background-position: center right 0.75rem;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"><path fill="%2335393C" fill-rule="nonzero" d="M8.293.293a1 1 0 0 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4A1 1 0 0 1 1.707.293L5 3.586 8.293.293z"/></svg>');
}
